* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  transition: 0.2s;
}

:root {
  --primary: #FECB02;
  --primary2: #F0AB0A;
  --secondary: #EC4E20;
  --primary-text: #0F0A0A;
  --secondary-text: #1d1414;
  --background: #fffdf2;
  --background-sec: #ffffff;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  top: 0;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  align-items: center;
  z-index: 10;
}
.navbar > a {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
  text-decoration: none;
  margin-right: 4rem;
}
.navbar > a img {
  margin-right: 0.6rem;
  height: 50px;
  width: auto;
}
.navbar > a:hover {
  opacity: 0.8;
}
.navbar .list {
  display: flex;
}
.navbar .list .list_item {
  list-style: none;
  padding: 1.2rem 0.4rem;
}
.navbar .list .list_item > a {
  position: relative;
  top: 0%;
  border-radius: 16px;
  color: var(--primary-text);
  text-transform: capitalize;
  font-weight: 500;
  padding: 4px 18px;
  text-decoration: none;
}
.navbar .list .list_item > a.active, .navbar .list .list_item > a.active i {
  color: rgb(255, 255, 255);
  background-color: var(--primary2);
}
.navbar .list .list_item > a:hover, .navbar .list .list_item > a:hover i {
  color: white;
  top: -4px;
  background-color: var(--primary);
}
.navbar > span > a {
  text-decoration: none;
  border-radius: 16px;
  padding: 0.4rem 1.2rem;
  margin-left: 0.4rem;
  color: white;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
}
.navbar > span > a:hover {
  opacity: 0.8;
}
.navbar > span .menu {
  position: relative;
  display: none;
  z-index: 1000;
  margin-right: 1rem;
}
.navbar > span .menu i {
  color: var(--primary2);
  font-size: 2.4rem;
}
.navbar > span .menu .open {
  color: var(--secondary);
}

.home {
  padding-top: 6rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home .content_box {
  margin-bottom: 50px;
  width: 460px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.home .content_box h1 {
  padding: 0.6rem 0rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: var(--primary-text);
  position: relative;
  word-break: keep-all;
}
.home .content_box h1 b {
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.678);
  padding: 0rem 10px;
  color: var(--background-sec);
  background-color: var(--secondary);
}
.home .content_box h1 i {
  font-style: normal;
}
.home .content_box h1 i::before {
  content: "{";
  padding-right: 0.1em;
}
.home .content_box h1 i::after {
  content: "}";
  padding-left: 0.1em;
}
.home .content_box h4 {
  font-weight: 500;
}
.home .content_box h4 > a {
  text-decoration: none;
  color: var(--primary2);
  padding: 0px 4px;
}
.home .content_box h4 > a:hover {
  text-decoration: underline;
}
.home .content_box p {
  margin-top: 2rem;
  color: var(--secondary-text);
  font-size: 0.8rem;
  padding-top: 1rem;
}
.home .content_box > a {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: var(--background-sec);
  text-decoration: none;
  background: linear-gradient(30deg, var(--primary), var(--secondary));
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
  overflow: hidden;
}
.home .content_box > a::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -100%;
  background: rgba(255, 240, 240, 0.8);
  transform: skew(45deg);
  height: 50px;
  width: 50px;
  animation: shine-anim 4s linear infinite;
}
.home .content_box > a:hover {
  transform: scale(1.04);
  opacity: 1;
}
.home .image {
  align-self: flex-end;
  position: relative;
  padding-bottom: 3rem;
}
.home .image img {
  width: 400px;
  height: auto;
}
.home .image .image_overlay {
  position: absolute;
  top: 0%;
  left: 0%;
}
.home .image .image_overlay > h5 {
  color: var(--background-sec);
  border-radius: 1rem;
  border-bottom-right-radius: 0%;
  padding: 8px 16px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  left: -8rem;
  background: rgb(6, 173, 0);
  transform-origin: right bottom;
}
.home .image .image_overlay > h5:nth-child(1) {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0%;
  background: rgb(6, 173, 0);
  margin-top: -2.6rem;
  left: 16rem;
  transform-origin: left bottom;
  animation: color-anim 8s linear infinite, beat-anim 1.4s ease infinite;
}
.home .image .image_overlay > h5:nth-child(2) {
  background: rgb(0, 173, 173);
  margin-top: -2rem;
  left: -1rem;
  animation: color-anim 10s linear infinite, beat-anim 1.8s ease infinite;
}
.home .image .image_overlay > h5:nth-child(3) {
  background: rgb(0, 55, 173);
  margin-top: 2rem;
  left: -6rem;
  animation: color-anim 10s linear infinite, beat-anim 1.6s ease infinite;
}
.home .image .image_overlay > h5:nth-child(4) {
  background: rgb(255, 133, 133);
  margin-top: 2rem;
  left: -9rem;
  animation: color-anim 10s linear infinite, beat-anim 1.2s ease infinite;
}
.home .image .image_overlay > h5:nth-child(5) {
  background: rgb(31, 117, 214);
  margin-top: 2rem;
  left: -7rem;
  animation: color-anim 10s linear infinite, beat-anim 1.3s ease infinite;
}

@keyframes shine-anim {
  0% {
    left: -100%;
  }
  8%, 10% {
    left: 100%;
  }
  18%, 100% {
    left: -100%;
  }
}
@keyframes color-anim {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes beat-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.what_bootcamp {
  padding-top: 4rem;
  margin: auto;
}
.what_bootcamp .what_bootcamp_wrapper {
  text-align: center;
  margin: 0rem auto 4rem auto;
  max-width: 786px;
}
.what_bootcamp .what_bootcamp_wrapper h2 {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--primary2);
}
.what_bootcamp .what_bootcamp_wrapper p {
  padding: 2rem 0;
  font-weight: 600;
  color: var(--secondary-text);
}
.what_bootcamp .what_bootcamp_wrapper a {
  width: -moz-max-content;
  width: max-content;
  color: var(--background-sec);
  text-decoration: none;
  background: linear-gradient(30deg, var(--primary), var(--secondary));
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.what_bootcamp .what_bootcamp_wrapper a:hover {
  opacity: 0.8;
}

.what_coding .what_coding_wrapper {
  margin: auto;
}
.what_coding .what_coding_wrapper h2 {
  color: var(--primary2);
  font-size: 2rem;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.what_coding .what_coding_wrapper .what_coding_list {
  padding: 4rem 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.what_coding .what_coding_wrapper .what_coding_list .what_coding_item {
  padding: 0rem 1rem;
  min-height: 200px;
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  border-radius: 1rem;
  background: var(--background-sec);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.what_coding .what_coding_wrapper .what_coding_list .what_coding_item .what_coding_image {
  margin: 1rem;
  height: 120px;
  width: 120px;
  flex-shrink: 0;
  background-color: darkblue;
}
.what_coding .what_coding_wrapper .what_coding_list .what_coding_item .what_coding_image img {
  height: 100%;
  width: 100%;
}
.what_coding .what_coding_wrapper .what_coding_list .what_coding_item .what_coding_content {
  max-width: 340px;
  padding: 2rem 1rem;
}
.what_coding .what_coding_wrapper .what_coding_list .what_coding_item .what_coding_content h3 {
  font-size: 1.4rem;
  color: var(--primary2);
}
.what_coding .what_coding_wrapper .what_coding_list .what_coding_item .what_coding_content p {
  color: var(--secondary-text);
  font-size: 14px;
}

.recalling .recalling_wrapper {
  position: relative;
  margin: 4rem auto 0 auto;
  width: 84%;
  background-color: var(--primary);
  padding: 2rem 4rem;
  border-radius: 1rem;
  background: var(--background-sec);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.recalling .recalling_wrapper h2 {
  color: var(--secondary);
  font-size: 2rem;
}
.recalling .recalling_wrapper h4 {
  color: var(--primary2);
  font-size: 1.2rem;
}
.recalling .recalling_wrapper > div {
  padding: 1rem 0;
}
.recalling .recalling_wrapper > div h6 {
  color: var(--secondary-text);
  font-size: 1rem;
  font-weight: 400;
}
.recalling .recalling_wrapper > div h6 i {
  margin: 0% 4px;
  border-radius: 50%;
  color: rgb(9, 255, 0);
}
.recalling .recalling_wrapper a {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-30%, -50%);
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(30deg, var(--primary), var(--secondary));
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
}
.recalling .recalling_wrapper a:hover {
  opacity: 0.8;
}

.program {
  padding-top: 4rem;
}
.program .program_wrapper {
  padding: 2rem;
}
.program .program_wrapper > h2 {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-size: 2rem;
  color: var(--primary2);
}
.program .program_wrapper .program_list .program_item {
  display: flex;
  list-style: none;
  margin: 2rem 0rem;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background: #ffffff;
  border: 1px solid rgba(240, 171, 10, 0.4);
}
.program .program_wrapper .program_list .program_item:nth-child(even) {
  flex-direction: row-reverse;
}
.program .program_wrapper .program_list .program_item .program_img {
  height: 340px;
  width: 50%;
  border-radius: 1rem;
  background-color: var(--background-sec);
  text-align: center;
}
.program .program_wrapper .program_list .program_item .program_img img {
  border-radius: 1rem;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
.program .program_wrapper .program_list .program_item .program_content {
  padding: 0% 1rem;
  margin: 1rem 2rem;
  width: 50%;
}
.program .program_wrapper .program_list .program_item .program_content h2 {
  font-size: 1.6rem;
  color: var(--primary2);
}
.program .program_wrapper .program_list .program_item .program_content p {
  color: var(--secondary-text);
  padding: 1rem 0;
}
.program .program_wrapper .program_list .program_item .program_content a {
  padding: 0.4rem 1rem;
  background: var(--secondary);
  border-radius: 2rem;
  color: var(--background);
  text-decoration: none;
}
.program .program_wrapper .program_list .program_item .program_content a:hover {
  opacity: 0.8;
}
.program .program_wrapper .program_list .program_item .program_content span {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-top: 0.6rem;
  margin-right: 0.4rem;
  border-radius: 1rem;
  color: var(--background);
  background-color: var(--primary2);
  cursor: default;
}
.program .program_wrapper .program_list .program_item .program_content span del {
  color: var(--background);
}/*# sourceMappingURL=style.css.map */